//Created by abhinav on 2015-11-28.
extends layout
block content
    .container
        form(onsubmit="submitTest(); return false;")
            .row
                .col.s12.m8.l8.push-l2
                    .row.center.bodycenter
                        h2 Midterm Test
                        p Each Question has one correct answer, you have been given an option to take 3 hints. Hint will tell you if your selected answer for a specific question is correct or not without penalization.
                    .row
                        each val in data
                            .card-panel
                                .row
                                    .col.s10.m10.l10
                                        h6(id='#{val._id}') #{val.question}
                                        - var i = 0;
                                        each response in val.responses
                                            - i++
                                            p
                                                if val.studentResponse == i
                                                    input(id='#{val._id + "__" + i}', type="radio", name='#{val._id}', value='#{i}',checked)
                                                else
                                                    input(id='#{val._id + "__" + i}', type="radio", name='#{val._id}', value='#{i}')
                                                label(for='#{val._id + "__" + i}') #{response}
                                        - i = 0;
                    .row.center
                        button.waves-effect.waves-light.btn.blue.darken-2(type="submit") Submit
                        h5#score
